


<div class="container-cart">
    <h1>TUS PRODUCTOS</h1>

    <div id="mostrarCarrito" class="cart"></div>

</div>



<script src='/socket.io/socket.io.js'></script>
<script src="/js/cart.client.js"></script>